<!--ABOUT Page-->
<header class="pt6 bg-photoshop vh-80 dt w-100 bb bw2 b--red shadow-4">
    <div class="vh-75 dtc v-btm-ns tl pa4 pb6 ph5-m ph7-l">
      <!--<time class="f6 mb2 dib ttu tracked"><small>27 July, 2015</small></time>-->
      <h1 class="playfair-display black-70 fw7 b kern ligatures f-headline-l measure-narrow lh-title pb4">
        <span class="dn-s bg-blur-5 bg-white-70 lh-solid ph4 pb3 bt bw3 b--red shadow-4 w3-animate-top">
          &nbsp;Our Story.&nbsp;
        </span>
        
        <span class="dn-ns mx-multiply lh-solid pb2 bb bw2 b--red red w3-animate-top">
          &nbsp;Our Story.&nbsp;
        </span>
      </h1>
      
      <h5 class="space-mono ttu mt4 mt1-s f6 black-80 tracked lh-copy w3-animate-top">
        <!--Large Breakpoints-->
        <span class="dn-s mt3 pa2 bg-blur-5 bg-white-70 ba bw1 b--red shadow-4">
          Read about the origins of The Ruby Bookshop!
        </span>
        
        <!--Medium & Small Breakpoints-->
        <span class="dn-ns space-mono dn-l mv2 pv2 lh-title">
           Read about the origins <br class="dn-ns">
           of the The Ruby Bookhop.
        </span>
      </h5>
      <br>
        <i class="red w3-animate-opacity fl w30 pa1 material-icons">arrow_downward</i>
    </div>
</header>