<header class="mt6 montserrat">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <!--<time class="f6 mb2 dib ttu tracked"><small>27 July, 2015</small></time>-->
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="b bg-red ttu lh-solid white pa1 tracked w3-animate-top">
          Help
        </span>
      </h3>
      <!--<h4 class="f3 fw1 w3-animate-top space-mono">Find me in app/views/static_pages/home.html.erb</h4>-->
      <h5 class="f6 red ttu tracked black-80 w3-animate-top space-mono">Find me in app/views/static_pages/help.html.erb</h5>
    </div>
</header>