<header class="pt6 bg-photoshop vh-100 dt w-100">
    <div class="vh-75 dtc v-btm-ns tl pa4 pb6 ph5-m ph7-l">
      <!--<time class="f6 mb2 dib ttu tracked"><small>27 July, 2015</small></time>-->
      <h1 class="playfair-display red fw7 b kern ligatures f-headline-l measure-narrow lh-title pb4">
        <span class="bg-blur-5 bg-white-70 lh-solid pa1 pb3  bt bw3 b--red w3-animate-top">
          &nbsp;Home.&nbsp;
        </span>
      </h1>
      
      <h5 class="mt4 f6 black-80 ttu tracked lh-copy w3-animate-top space-mono">
        <span class="mt3 pt2 bt bw2 bw0-s b--black-80">
          I live in app/views/static_pages/home.html.erb
        </span>
      </h5>
    </div>
</header>