<main class="mt6">
    <h1 class="montserrat b red">New Product</h1>
    
    <%= render 'form', product: @product %>
    
    <%= link_to 'Back', products_path , class:"space-mono w3-mobile w3-button w3-red w3-border w3-border-red w3-hover-white w3-round-large" %>
</main>